@import 'variables';

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curriculum-table {
    width: 75%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 4px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    border-radius: 6px;

    caption {
        font-weight: bold;
        color: $primary-scarlet;
        font-size: 20px;
        padding: 2px;
    }

    th {
        font-weight: bold;
        text-align: center;
        padding: 4px;
    }

    thead {
        background-color: $primary-scarlet;
        color: white;
    }

    tfoot th {
        border-top: 1px dashed black; 
        border-bottom: 1px dashed black; 
    }

    .course-container {
        vertical-align: top;
    }

    .course {
        background-color: $secondary-light-gray;
        text-align: left;
        padding: 4px;
        height: 90px;
        width: auto;
        margin: 4px 0;
        overflow: hidden;

        em {
            font-size: 13px;
        }
    }

    .course:hover {
        background-color: $highlighted-course;
        color: white; 

        a {
            color: $secondary-light-gray;
        }
    }

    .gened {
        display: flex;
        align-items: center;
    }
}
