@import 'variables';

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curriculum-table {
    width: 75%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 4px;
    font-size: 14px;

    caption {
        font-weight: bold;
        color: $scarlet;
        font-size: 20px;
        padding: 2px;
    }

    th {
        font-weight: bold;
        text-align: center;
        background-color: $scarlet;
        color: white;
    }

    .course-container {
        vertical-align: top;
    }

    .course {
        background-color: #e8e8e8;
        text-align: left;
        padding: 4px;
        height: 90px;
        width: auto;
        margin: 4px 0;

        em {
            font-size: 13px;
        }
    }

    .course:hover {
        background-color: navy;
        color: $white; 

        a {
            color: $gray
        }
    }

    .gened {
        display: flex;
        align-items: center;
    }
}
