@import 'variables';

.curriculum-table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 4px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    width: 75%;
    justify-self: center;

    caption {
        font-weight: bold;
        background-color: $primary-scarlet;
        color: white;
        font-size: 20px;
    }

    th {
        font-weight: bold;
        text-align: center;
        padding: 4px;
    }

    thead {
        background-color: $primary-scarlet;
        color: white;
    }

    tfoot th {
        border-top: 1px dashed black; 
        border-bottom: 1px dashed black; 
    }

    .course-container {
        vertical-align: top;
    }

    .course {
        background-color: $secondary-light-gray;
        text-align: left;
        padding: 4px;
        height: 90px;
        width: auto;
        margin: 4px 0;
        overflow: hidden;

        em {
            font-size: 13px;
        }
    }

    .course:hover {
        background-color: $highlighted-course;
        color: white; 

        a {
            color: $secondary-light-gray;
        }
    }

    .prereq-highlight {
        background-color: $prerequisite-chain;
    }

    .postreq-highlight {
        background-color: $postrequisite-chain;
    }

    .coreq-highlight {
        background-color: $corequisite;
    }

    .iprereq-highlight {
        background-color: $immediate-prerequisite;
    }

    .gened {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
