$primary-scarlet: #b62e2e;
$secondary-light-gray: #e3e5e7;
$accent-gray: #3a4750;
$accent-dark-gray: #303841;

$highlighted-course: #307e3c;
$immediate-prerequisite: #c5bb2c;
$prerequisite-chain: #bb8233;
$corequisite: #4ea25a;
$postrequisite-chain: #4380c0;
