$primary-scarlet: #b62e2e;
$secondary-light-gray: #e3e5e7;
$accent-gray: #758b9b;
$accent-dark-gray: #303841;

$course-highlight: #307e3c;
$prereq-highlight: #edeb72;
$prereq-sequence-highlight: #ef9c6f;
$coreq-highlight: #6bd17a;
$postreq-sequence-highlight: #70a4db;
