$primary-scarlet: #b62e2e;
$secondary-light-gray: #e3e5e7;
$accent-gray: #3a4750;
$accent-dark-gray: #303841;

$highlighted-course: #307e3c;
$immediate-prerequisite: #eeec53;
$prerequisite-chain: #ed9463;
$corequisite: #56c166;
$postrequisite-chain: #639bd6;
